/bin/node_modules/*
/bin/config.json
/haxebot
/.haxelib/asynctools
/.haxelib/buddy
/.haxelib/promhx
/.haxelib/db-core
/.haxelib/db-mysql
/.haxelib/hx4compat
/.haxelib/libmysqlclient
/.haxelib/logging
/.haxelib/mysql
/.haxelib/promises
/bin/haxebot
.ecs_invalidation
/bin/config/keys.json
/bin/.haxelib
/bin/*.tar.gz
/bin/haxe
/bin/yarn-error.log