[submodule ".haxelib/firebase/git"]
	path = .haxelib/firebase/git
	url = https://github.com/Jarrio/firebase
[submodule ".haxelib/safety/git"]
	path = .haxelib/safety/git
	url = https://github.com/RealyUniqueName/Safety
[submodule ".haxelib/hxnodejs/git"]
	path = .haxelib/hxnodejs/git
	url = https://github.com/HaxeFoundation/hxnodejs
[submodule ".haxelib/aidan-ecs/git"]
	path = .haxelib/aidan-ecs/git
	url = https://github.com/Aidan63/ecs
[submodule ".haxelib/bits/git"]
	path = .haxelib/bits/git
	url = https://github.com/RealyUniqueName/Bits
[submodule ".haxelib/discordjs/discordjs"]
	path = .haxelib/discordjs/discordjs
	url = https://github.com/Jarrio/discordjs
[submodule "haxe_modules/db-core"]
	path = haxe_modules/db-core
	url = https://github.com/core-haxe/db-core
[submodule "haxe_modules/db-mysql"]
	path = haxe_modules/db-mysql
	url = https://github.com/core-haxe/db-mysql
[submodule "haxe_modules/mysql"]
	path = haxe_modules/mysql
	url = https://github.com/core-haxe/mysql
[submodule "haxe_modules/promises"]
	path = haxe_modules/promises
	url = https://github.com/core-haxe/promises
[submodule "haxe_modules/hx4compat"]
	path = haxe_modules/hx4compat
	url = https://github.com/haxefoundation/hx4compat
